<!DOCTYPE html>
<html lang="en" ng-app="Daedalus">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Daedalus" %></title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "news_article", :media => "all" %>
    <%= javascript_include_tag "news_article" %>
</head>
<body ng-controller="NewsArticleCtrl">

<%= render :partial => 'layouts/nav_bar' %>

<div class="container-fluid">
    <%= yield %>

    <footer>
        <p>&copy; Company 2014</p>
        Find me in app/views/layouts/news_article.html.erb
    </footer>

</div>
<!-- /container -->

</body>
</html>
