.row-fluid
  .span9
    %ul.breadcrumb
      %li
        = link_to 'Home', :root
        %span.divider /
      %li
        = link_to @article_source.display_name, :controller => :article_source, :id => @article_source.id, :action => :show
    %ul.nav.nav-tabs#type-nav
      %li
        %a Cached JSON
      %li
        %a Cached
      %li#nav-tab-live-json{:data => {:document_type => 'live-json'}}
        %a Live JSON
      %li#nav-tab-live{:data => {:document_type => 'live'}}
        %a Live
    .daily-index-content.live-json
      %pre.pre-scrollable
    .daily-index-content.live
      %pre.pre-scrollable
  .span3.well
    %table.table
      %tbody
        %tr
          %td.metadata-label Source
          %td= @article_source.display_name
        %tr
          %td.metadata-label Date
          %td= @daily_index.date.strftime('%Y-%m-%d')
        %tr
          %td{:colspan => 2}= link_to 'Permalink', { |
            :controller => :daily_index, |
            :action => :show, |
            :article_source_id => @article_source.id, |
            :id => @daily_index.id}, |
            id: 'permalink'
        %tr
          %td{:colspan => 2}= link_to 'External URL', @daily_index.url, {:target => '_blank'}
.row
  %p.span12
    Find me in app/views/daily_index/show.html.erb
= javascript_include_tag "daily_index/show"
