.row
  .col-lg-9
    %ul.breadcrumb
      %li
        = link_to 'Home', :root
      %li
        = link_to @article_source.display_name, :controller => :article_source, :id => @article_source.id, :action => :show
    .container-fluid#daily-index-display-container
    %ul.nav.nav-tabs#nav-doc-type
      %li= link_to 'Cached JSON', '#doc-content-cached-json', {:data => {:toggle => 'tab', :document_type => 'cached-json'}}
      %li= link_to 'Cached',      '#doc-content-cached',      {:data => {:toggle => 'tab', :document_type => 'cached'}}
      %li= link_to 'Live JSON',   '#doc-content-live-json',   {:data => {:toggle => 'tab', :document_type => 'live-json'}}
      %li= link_to 'Live',        '#doc-content-live',        {:data => {:toggle => 'tab', :document_type => 'live'}}
    .tab-content
      .tab-pane#doc-content-cached-json
        %pre.pre-scrollable
      .tab-pane#doc-content-cached
        %pre.pre-scrollable
      .tab-pane#doc-content-live-json
        %pre.pre-scrollable
      .tab-pane#doc-content-live
        %pre.pre-scrollable
  .col-lg-3.well
    %table.table
      %tbody#metadata-container
        %tr
          %td.metadata-label Source
          %td= @article_source.display_name
        %tr
          %td.metadata-label Date
          %td= @daily_index.date.strftime('%Y-%m-%d')
        %tr
          %td.metadata-label Cache Status
          %td#metadata-cache-status{data:{cache_status: "#{@daily_index.cache_status}"}}
            - case @daily_index.cache_status
              - when :cache_ok
                Cached
              - when :cache_not_available
                Not Available
              - else
                Unknown
        %tr
          %td{:colspan => 2}= link_to 'Permalink', { |
            :controller => :daily_index, |
            :action => :show, |
            :article_source_id => @article_source.id, |
            :id => @daily_index.id}, |
            id: 'permalink'
        %tr
          %td{:colspan => 2}= link_to 'External URL', @daily_index.url, {:target => '_blank'}
.row
  %p
    Find me in app/views/daily_index/show.html.erb
#template-container
  .daily-index-display-item
    .box
      %a
        %span.title
  %table
    %tbody#metadata-fields
      %tr.metadata-label{data:{field:'processor_version'}}
        %td Processor Version
        %td.value-field
      %tr.metadata-label{data:{field:'processor_patch'}}
        %td Processor Patch
        %td.value-field
      %tr.metadata-label{data:{field:'source_version'}}
        %td Source Version
        %td.value-field
      %tr.metadata-label{data:{field:'generation_date'}}
        %td Date Generated
        %td.value-field
      %tr.metadata-label{data:{field:'source_retrieval_date'}}
        %td Date Source Retrieved
        %td.value-field

= javascript_include_tag "daily_index/show"
