.row-fluid
  .col-lg-9
    %ul.breadcrumb
      %li
        = link_to 'Home', :root
      %li
        = link_to @article_source.display_name, :controller => :article_source, :id => @article_source.id, :action => :show
    .container-fluid#daily-index-display-container
      .hidden.alert.alert-danger#daily-index-display-alert
        Error:
        %span.content
    = render :partial => 'layouts/tabbed_document_content'
  .col-lg-3.well
    %table.table
      %tbody#metadata-container
        %tr
          %td.metadata-label Source
          %td= @article_source.display_name
        %tr
          %td.metadata-label Date
          %td= @daily_index.date.strftime('%Y-%m-%d')
        %tr
          %td.metadata-label Article Count
          %td#article-count
        %tr
          %td.metadata-label Cache Status
          %td#metadata-cache-status{data:{cache_status: "#{@daily_index.cache_status}"}}
            - case @daily_index.cache_status
              - when :cache_ok
                Cached
              - when :cache_not_available
                Not Available
              - else
                Unknown
        %tr
          %td{:colspan => 2}= link_to 'Permalink', { |
            :controller => :daily_index, |
            :action => :show, |
            :article_source_id => @article_source.id, |
            :id => @daily_index.id}, |
            id: 'permalink'
        %tr
          %td{:colspan => 2}= link_to 'External URL', @daily_index.url, {:target => '_blank'}
.row
  %p
    Find me in app/views/daily_index/show.html.erb
#template-container.hidden
  .daily-index-display-item
    %a
      %span.title
  %table
    %tbody#metadata-fields
      %tr{data:{field:'processor_version'}}
        %td.metadata-label Processor Version
        %td.value-field
      %tr{data:{field:'processor_patch'}}
        %td.metadata-label Processor Patch
        %td.value-field
      %tr{data:{field:'source_version'}}
        %td.metadata-label Source Version
        %td.value-field
      %tr{data:{field:'generation_date'}}
        %td.metadata-label Date Generated
        %td.value-field
      %tr{data:{field:'source_retrieval_date'}}
        %td.metadata-label Date Source Retrieved
        %td.value-field

= javascript_include_tag 'daily_index/show'
